
capstone_two/data/CarSpecs_1945_2020.csv
capstone_two/data/Kaggle_deffs.pdf
capstone_two/data/USA_cars_datasets.csv
capstone_two/data/vehicles.csv
capstone_two/data/kaggle_income.csv
capstone_two/craigslist_withVins.csv
capstone_two/data/all-vehicles-model.csv
capstone_two/data/Car_Model_List.csv
capstone_two/data/craigslist_withVins.csv
capstone_two/sok.csv
capstone_two/gdf.csv
capstone_two/nomake.csv